# Environment Variables Example
# Duplicate this file and name it .env.local

# Gmail App Password (NOT your regular password). Generated via Google Account Settings.
EMAIL_USER=adityasingh808589@gmail.com
EMAIL_PASS="your_16_character_app_password"

# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
